
/* Reseting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #ecf0f3;
}

.wrapper {
    max-width: 350px;
    min-height: 500px;
    margin: 80px auto;
    padding: 40px 30px 30px 30px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.2), -5px -5px 15px rgba(255,255,255,0.1);
}

.logo {
    width: 80px;
    margin: auto;
}

    .logo img {
        width: 100%;
        height: 80px;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0px 0px 3px #a7aaa7, 0px 0px 0px 5px #ffffff, 8px 8px 15px #a7aaa7, -8px -8px 15px #ffffff;
    }

.wrapper .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #555;
}

.wrapper .form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #666;
    padding: 10px 15px 10px 10px;
    /* border: 1px solid red; */
}

.wrapper .form-field {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

    .wrapper .form-field .fas {
        color: #555;
    }

.wrapper .btn {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: #6658D3;
    color: #fff;
    border-radius: 25px;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.15);
    letter-spacing: 1.3px;
}

    .wrapper .btn:hover {
        background-color: #5548C3;
        box-shadow: 2px 2px 12px rgba(0,0,0,0.25);
    }

.wrapper a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #03A9F4;
}

    .wrapper a:hover {
        color: #6658D3;
    }

.wrapper .name, .wrapper .form-field input, .wrapper a {
    color: #333;  
}

@media(max-width: 380px) {
    .wrapper {
        margin: 30px auto;
        padding: 40px 20px;
    }
}
.notification {
    z-index: 1050;
    position: fixed;
    top: 0;
    right: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: #fff;
    padding: 10px;
}

.box {
    max-width: 600px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
    background-color: #a683e3;
    text-align: center;
}


.item {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f1f1f1;
}

    .item:last-child {
        border-bottom: 0;
    }

    .item input[type="checkbox"] {
        margin: 20px;
    }

    .item:hover {
        background-color: rgba(166, 131, 227, 0.2);
        transition: background-color 0.3s ease;
    }

p {
    margin: 0;
    padding: 20px 0;
    font-size: 20px;
    color: #00204a;
}

.add-task-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    text-align: center;
}

    .add-task-form .input-text {
        flex-grow: 1; 
        margin-right: 10px;
    }

.add-button {
    min-height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #a683e3;
    color: #fff;
    font-size: 30px;
    border-width: 0;
}

    .add-button:hover {
        background-color: #6658D3
    }


.icon-button {
    background: none;
    border: none;
    color: #a683e3;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    flex: 0 0 auto;
}

    .icon-button.save:hover, .icon-button.delete:hover {
        color: #6658D3;
    }

.input-text {
    text-align: left;
    height: 60px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 200;
    width: 80%;
    margin: 0;
    padding: 20px 0;
    color: #00204a;
    flex: 1 1 auto;
    margin-right: 10px;
    padding-left: 20px;
}

.input-text {
    cursor: pointer;
}

    .input-text:focus {
        outline: none;
        box-shadow: inset 0 -3px 0 0 #a683e3;
    }

    .input-text::placeholder {
        color: lightgray;
        opacity: 1;
        text-indent: 20px;
    }

.input-checkbox {
    height: 15px;
    width: 15px;
    accent-color: #a683e3;
    flex: 0 0 auto;
    margin-right: 10px;
    cursor: pointer
}
