
    ::deep .pagination-container {
        display: flex;
        justify-content: center;
        padding: 10px 0;
    }

    ::deep nav .pagination-link {
        padding: 5px 8px;
        margin: 0 4px;
        border-radius: 4px;
        border: none;
        color: white;
        font-weight: 500;
        cursor: pointer;
    }


        ::deep .pagination-link.active {
            background-color: #7861a5; 
            color: white;
            font-size: 1.1em;
        }


    ::deep ul > .pagination pagination-link {
        justify-items: stretch;
       color: #a683e3
    }

    ::deep nav .pagination.pagination-link {
        max-width: 400px;
    }

    ::deep .page-item.active .page-link {
        background-color: #a683e3;
    }

        ::deep .page-item.active .page-link:hover {
            background-color: #6658D3;
        }




