@page "/login"
@using Microsoft.AspNetCore.Components.Authorization
@using TaskTackler.Models
@using TaskTackler.Services
@inject NavigationManager NavigationManager
@inject IAuthService AuthService
@inject IJSRuntime JSRuntime
@inject AuthenticationStateProvider AuthenticationStateProvider
@attribute [AllowAnonymous]


<div class="wrapper">
    <div class="logo">
        <img src="Images/task-logo.png" alt="Task Tackler logo">
    </div>
    <div class="text-center mt-4 name">
        Log in
    </div>
    <EditForm class="p-3 mt-3" Model="@loginModel" OnValidSubmit="HandleLogin">
        <DataAnnotationsValidator />
        <ValidationSummary />
            <div class="form-field d-flex align-items-center">
                <i class="far fa-user"></i>
            <input type="text" name="userName" id="userName" placeholder="Username" @bind-value="@loginModel.Username" @bind-value:event="oninput" />
            </div>
            <div class="form-field d-flex align-items-center">
                <i class="fas fa-key"></i>
            <input id="pwd" @bind-value="loginModel.Password" type="password" placeholder="Password" @bind-value:event="oninput" />
            </div>
             <button type="submit" class="btn btn-primary">Log in</button>
    </EditForm>
    <div class="text-center mt-3">
        Don't have an account? <a href="/register">Sign up</a>.
    </div>
</div>
@if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="alert alert-danger" role="alert">
        @errorMessage
    </div>
}



@code {
    private LoginDTO loginModel = new LoginDTO();
    private string errorMessage = string.Empty;

    private async Task HandleLogin()
    {
        var loginResult = await AuthService.Login(loginModel);
        if (loginResult.IsSuccess)
        {
            await ((CustomAuthenticationStateProvider)AuthenticationStateProvider).MarkUserAsAuthenticated(loginResult.Token);
            NavigationManager.NavigateTo("/");
        }
        else
        {
            errorMessage = loginResult.ErrorMessage ?? "Login failed. Please check your username and password and try again.";
        }

    }
}

